.pinkbox {background-color: hotpink; }
.title { text-align: center; color:white;
}
.text2 {text-align: center; color: white;}
.name {text-align:center;color: white;}
.list{
    text-align: center;

}

.name{text-align:center ; color: white;

}
.head{
    width: 15%; display: block; margin-left: auto; margin-right: auto;
}